body {
  background-color: darkgray;
  color: white;
  text-align: center;
  font-family: arial;
}

h1 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 80px;
}

h2 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 30px;
}

p {
  color: gray;
  text-align: center;
  font-family: arial;
  font-size: 40px;
}

table {
  overflow-y: scroll;
  position: static;
  width: 60%;
}

table, th, td {
  border: 1px solid lightblue;
  font-family: Arial;
  text-align: center;
  font-size: 40px;
  color: black;
}
