body {
  background-color: darkgray;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 80px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: arial;
  font-color: gray;
  font-size: 20px;
  text-align: center;
}
